.title{
   color: var(--primary-color);
}
.vue3-easy-data-table {
   z-index: 0 !important;
}
.required-icon :deep() path {
      fill: red;
   }
.label-style {
    display: block;
    margin: auto;
    position: relative;
    margin-bottom: 4px;
    margin-left: 0px;
 }
 .input-style {
    padding-inline: 16px;
    border-radius: 8px;
 }
 .error-msg {
    margin-left: 12px;
 }
 .button-style {
    padding: 10px 13px;
 }
 .button-style-2 {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
 }
 .button-style-2:hover {
    background-color: var(--primary-color);
    color: white;
 }
 .button-style-modal {
  padding: 12px 58px;
  text-wrap:nowrap;
}
.data_table :deep() .vue3-easy-data-table__main.border-cell .vue3-easy-data-table__body td {
  border-right: none;
  padding: 16px 24px;
}
[data-direction = rtl] .data_table :deep() .vue3-easy-data-table__main.border-cell .vue3-easy-data-table__body td {
   text-align: right;
}
.data_table :deep() .vue3-easy-data-table__main.border-cell .vue3-easy-data-table__header th {
  border-right: none !important;
  font-weight: 500;
}
.data_table :deep() .vue3-easy-data-table__header th {
  background-color: rgb(246 248 251);
}
.data_table :deep() .easy-data-table__rows-selector .rows-input__wrapper {
  justify-content: unset;
  gap: 9px;
  width: 36px;
  padding: 0px;
}
.data_table :deep() .vue3-easy-data-table__footer .pagination__items-index {
  margin-left: 0px;
}
.data_table :deep() .vue3-easy-data-table__footer {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.btn_table {
  border: none;
  background-color: transparent;
}
.btn_table:hover :deep() .table-icon path {
  stroke: var(--primary-color);

}
.data_table :deep() .easy-data-table__rows-selector ul.select-items{
  position: absolute;
  top: 23px;
  left: -3px; 
  width: 44px;
}
.data_table :deep() .vue3-easy-data-table__main {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.table-icon {
  cursor: pointer;
}
.dropdown-menu-style-modal {
  width: 100%;
  /* top: 12px !important; */
  left: -17px !important;
  border: 1px solid #8080806b;
  padding: 3px 14px;
}
.input-style-search{
   padding-inline: 46px;
}
.modal_body {
 overflow-y: auto;
}
.modal_content_delete {
 padding: 32px 24px;
}
/* end style easy data table */
::-webkit-scrollbar {
width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 3px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--primary-color);
border-radius: 10px;
}
.modal_content {
 min-height: 533px;
 height: 533px;
}
.select-style {
 width: 230px;
}
.select-style :deep() .vs__dropdown-toggle {
  padding: 6px 0px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  max-height: 42.6px;
  height: 42.6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-style :deep() .vs__search {
 font-size: 14px;
  font-weight: 500;
  color: #7B8190;
  margin: 0px;
}
.select-style :deep().vs--single .vs__selected {
 font-size: 14px;
 font-weight: 500;
  color: #7B8190;
}
.select-style :deep() .vs--single .vs__selected{
 margin: 0px !important;
}
.select-style :deep() .vs__actions  {
 padding-top: 0px;
 padding-bottom: 0px;
 padding-inline: 8px;
}
.select-style :deep() .vs__clear {
   margin-inline: 6px;
}
.select-style-modal :deep() .vs__clear {
   margin-inline: 6px;
}
.select-style :deep() .vs__selected {
 margin-top: 0px;
 font-size: 14px;
}

.select-style :deep() .vs__dropdown-menu {
 border-radius: 20px;
 margin-top: 7px;
}
.select-style :deep() .vs__dropdown-option--highlight {
 background-color: var(--primary-color) !important;
}
.select-style :deep() .vs__dropdown-option {
 font-size: 14px;
}
.select-style-modal:deep() .vs__dropdown-toggle {
 border: none !important;
}
.select-style-modal:deep() .vs__search {
 margin-top: 0px;
}
.select-style-modal :deep()::placeholder {
 color: #d9d9d9;
}
.select-style-modal :deep() .v-select{
 max-height: 42.6px !important;
 height: 42.6px!important;
 padding-top: 7px;
 padding-bottom: 7px;
}
.select-style-modal :deep() .vs__dropdown-option--highlight {
 background-color: var(--primary-color) !important;
}

.select-style-modal :deep() .vs__dropdown-menu {
 border-radius: 8px;
 margin-top: 9px;
}
.data_table:deep() .vue3-easy-data-table__main {
   max-height: calc(100vh - 302px);
   height: calc(100vh - 302px);
}
[data-direction = rtl] .data_table :deep().vue3-easy-data-table__main {
    direction: rtl;
}
[data-direction = rtl].data_table :deep() .table-box-btn  {
   justify-content: flex-start;
}
[data-direction = rtl].data_table :deep() .vue3-easy-data-table__footer{
   justify-content: flex-start;
}
[data-direction = rtl].data_table :deep() .vue3-easy-data-table__footer .pagination__items-index{
    margin: 0 10px 0 20px;
}
[data-direction = rtl].data_table:deep() .vue3-easy-data-table__footer{
   flex-direction: row-reverse;
}
[data-direction = rtl].data_table :deep().vue3-easy-data-table__main.border-cell .vue3-easy-data-table__body td {
text-align: right;
}

[data-direction = rtl].select-style:deep().vs__selected-options{
   display: flex !important;
   flex-direction: row-reverse!important;
}
[data-direction = rtl].select-style:deep() .vs__actions {
   flex-direction: row-reverse;
}
[data-direction=rtl] .table-box-btn {
   justify-content: flex-start;
}
[data-direction = rtl] .select-style :deep() .vs__dropdown-option {
   text-align: right;
}
[data-direction = rtl] .select-style :deep() .vs__dropdown-option--highlight {
   text-align: right;
}
[data-direction = rtl] .select-style-modal :deep() .vs__dropdown-option {
   text-align: right;
}
[data-direction = rtl] .select-style-modal :deep() .vs__dropdown-option--highlight {
   text-align: right;
}

[data-direction = rtl] .data_table :deep() .previous-page__click-button {
   transform: rotate(180deg);

}
[data-direction = rtl] .data_table :deep() .next-page__click-button {
    transform: rotate(180deg);
}
[data-direction=rtl] .data_table :deep() .vue3-easy-data-table__footer .pagination__rows-per-page{
   direction: ltr;
}
[data-direction=rtl] .data_table :deep().vue3-easy-data-table__footer .pagination__items-index {
   direction: ltr;
   margin: 0px 10px 0 20px;
}
@media(max-width:1024px) {
 .box-title {
    justify-content: unset;
    gap: 24px;
 }
 .button-style-add {
    padding: 9px 43px;
    text-wrap:nowrap;   
 }
}
@media(max-width:576px) { 
 .search-box {
    width: 100%;
 }
 .box-title {
    justify-content: unset;
    gap: 24px;
 }
 .button-style{
  padding: 7px 19px;
 }
 .main-box {
  padding: 22px 11px;
 }
 .modal-dialog-style {
  width: 90%;
  max-width: 90%;
  margin-inline: auto;
  }
  .data_table :deep() .vue3-easy-data-table__main {
      max-height: calc(100vh - 326px);
      height: calc(100vh - 326px);
  }
   .modal_content, .modal_content_delete {
       padding: 15px 8px;
   }
   .button-style-filter {
      padding: 7px;
   }
}
/*  */
.customize-table {
   --easy-table-border: 1px solid #E4E7EC;
   --easy-table-row-border: 1px solid #E4E7EC;
   --easy-table-header-font-size: 17px;
   --easy-table-header-height: 44px;
   --easy-table-header-font-color:var(--primary-color);
   --easy-table-header-background-color: rgba(66, 106, 179, 0.05);
   --easy-table-header-item-padding: 12px 24px;
   --easy-table-body-even-row-font-color: #fff;
   --easy-table-body-even-row-background-color: #0000;
   --easy-table-body-row-font-color: #3B424A;
   --easy-table-body-row-background-color: #fff;
   --easy-table-body-row-height: 50px;
   --easy-table-body-row-font-size: 14px;
   --easy-table-body-row-hover-font-color: #2d3a4f;
   --easy-table-body-row-hover-background-color: #fff;
   --easy-table-body-item-padding: 10px 15px;
   --easy-table-footer-background-color: #fff;
   --easy-table-footer-font-color: #3B424A;
   --easy-table-footer-font-size: 12px;
   --easy-table-footer-padding: 0px 10px;
   --easy-table-footer-height: 52px;
   --easy-table-rows-per-page-selector-width: 70px;
   --easy-table-rows-per-page-selector-option-padding: 5px;
   --easy-table-rows-per-page-selector-z-index: 1;
   --easy-table-scrollbar-track-color:var(--main-color-2);
   --easy-table-scrollbar-color:var(--main-color-2);
   --easy-table-scrollbar-thumb-color: var(--primary-color);
   --easy-table-loading-mask-background-color:	#fff;
   --easy-table-loading-mask-opacity:	0.5;
}