:root {
    --main-color: #3B424A;
    --main-color-2:#7B8190;
    --primary-color:#426AB3;
    --hover-color:#345593;
    --secondary-color:#F58220;
}
body {
    font-family: "Inter"
}
.error-txt {
    min-width: 14px;
    min-height: 14px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-icon {
    font-size: 8px !important;
}
.error-msg {
    font-size: 12px;
    font-weight: 400;
    color: #EB5757;
    margin-top: 5px;
    margin-inline: 23px;
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.button-style {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 12px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button-style:hover {
    background-color: var(--hover-color);
}
.input-style {
    padding: 10px 46px;
    border-radius: 30px;
    border: 1px solid  #8080806b;
    margin: auto;
    display: block;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}
.input-style:focus-visible {
    outline: none;
}
.input-style::placeholder {
    color:  #8080806b;
}
.input-icon {
    position: absolute;
    top: 13px;
    left: 26px;
    color:  #8080806b;
    z-index: 1;
}
.title {
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
}
.main-box {
    padding: 26px 40px;
}
.input-style:focus-visible {
    outline: none;
    border-color: #7B8190;
}
.input-style::placeholder {
    font-size: 14px;
    font-weight: 400;
   color:  #8080806b;
}
