:root {
    --main-color: #3B424A;
    --main-color-2:#7B8190;
    --primary-color:#426AB3;
    --hover-color:#345593;
    --secondary-color:#F58220;
}
body {
    font-family: "Inter"
}
[data-direction = rtl] body {
   direction: rtl;
   font-family: "Tajawal", sans-serif;
   /* font-weight: 500; */
   font-style: normal; 
}
.error-txt {
    min-width: 14px;
    min-height: 14px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-icon {
    font-size: 8px !important;
}
.error-msg {
    font-size: 12px;
    font-weight: 400;
    color: #EB5757;
    margin-top: 5px;
    margin-inline: 23px;
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.button-style {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 13px 10px 10px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.button-style:hover {
    background-color: var(--hover-color);
}

.lds-dual-ring {
   display: inline-block;
   width: 40px;
   height: 40px;
}
.lds-dual-ring:after {
   content: " ";
   display: block;
   width: 30px;
   height: 30px;
   margin: 8px;
   border-radius: 50%;
   border: 6px solid #fff;
   border-color: #426AB3 transparent #426AB3 transparent;
   animation: lds-dual-ring 1.2s linear infinite;
   }
.lds-dual-ring-white:after {
   content: " ";
   display: block;
   width: 30px;
   height: 30px;
   margin: 8px;
   border-radius: 50%;
   border: 4px solid #fff;
   border-color: #fff transparent #fff transparent;
   animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
   0% {
       transform: rotate(0deg);
   }
   100% {
       transform: rotate(360deg);
   }
}

.input-style {
    padding: 10px 46px;
    border-radius: 30px;
    border: 1px solid  #8080806b;
    margin: auto;
    display: block;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    height: 49.6px;
}
.input-style:focus-visible {
    outline: none;
}
.input-style::placeholder {
    color:  #8080806b;
}
.input-icon {
    position: absolute;
    top: 13px;
    left: 26px;
    color:  #8080806b;
    z-index: 1;
}
.title {
    font-size: 24px;
    font-weight: 700;
    color: var(--main-color);
    width: 372px;
}
.main-box {
    padding: 26px 40px;
}
.input-style:focus-visible {
    outline: none;
    border-color: #7B8190;
}
.input-style::placeholder {
    font-size: 14px;
    font-weight: 400;
    color:  #8080806b;
}
 /*main style for pages */
 .box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
 }
 .search-box {
    position: relative;
    width: 372px;
    max-width: 100%;
 }
 .search-icon {
    position: absolute;
    left: 15px;
    top: 11px;
 }
 .filter-box {
    display: flex;
    gap: 24px;
 }
  /*end main style for pages */
  /* modals style */
  .btn-close-modal {
    --bs-btn-close-bg :none;
 }
 .dropdown_btn_modal {
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
 }
 .dropdown_btn_modal:after {
    display: none;
 }
 .modal_title {
    font-weight: 600;
    color: var(--main-color);
    margin: auto;
 }
 .modal_title_filter {
   margin-left: auto;
   font-weight: 600;
   color: var(--main-color);
 }
 .modal_header {
    padding: 0px;
    border: none;
    margin-bottom: 24px;
 }
 .modal_content {
    padding: 15px 24px;
    border-radius: 20px;
 }
 .box-buttons-modal {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 24px;
    min-width: 47px;
    height: 47px;
 }
 .li-style-modal{
    font-weight: 400;
    color: var(--main-color); 
    display: flex;
    text-decoration: none;
    padding-left: 9px;
    padding-inline: 0px;
    max-width: 100%;
    text-wrap: wrap;
    font-size: 14px;
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .li-style-modal:last-child {
    border: none;
 }
 .li-style-modal:hover{
    color: var(--secondary-color);
 }
 .firs-span {
    color: #7B8190;
    font-size: 14px;
    font-weight: 500;
 }
 .sec-span {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
 }
 .delete-para {
    font-weight: 400!important;
    color: var(--main-color)!important;
    text-align: center!important;
    font-size: 16px!important;
    padding: 0!important;
 }
 .modal_body {
   padding-inline: 16px;
 }.data_table {
   margin-top: 26px;
   border-radius: 12px;
}
.img_user {
   width: 40px;
   height: 40px;
   border-radius: 20px;
 }
 .img_user img {
   max-width: 100%;
   width: 100%;
   height: 100%;
   max-height: 100%;
   object-fit: cover;
   border-radius: 20px;
 }
 .table-box-btn {
   justify-content: flex-end;
 }
 .button-style-filter {
   background-color: transparent;
   border: 1px solid var(--primary-color);
   color: #7B8190;
   height: 40px;
   font-size: 14px;
   display: flex;
   padding-inline: 24px;
 }
 .button-style-filter:hover {
   background-color: transparent!important;
 }
 .filter_num {
   width: 20px;
   height: 20px;
   background-color: var(--primary-color);
   color: white;
   border-radius: 20px;
   font-size: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   
 }
 .input-style-search {
   height: 40px;
 }
 .modal_content_filterBy {
   height: 410px;
   min-height: 410px;
   padding: 15px 24px;
   border-radius: 20px;
 
}
.required-icon {
   width: 5px;
   position: absolute;
   margin-inline: 2px;
   top: 3px;
}
.modal-dialog-centered {
   justify-content: center;
}
.modal_title_filter {
   margin: unset;
   margin-left: auto;
}
[data-direction =rtl] .modal_title_filter {
   margin-right: auto;
}
 [data-direction = rtl] .button-style-filter {
   flex-direction: row-reverse;
}
 /* rtl style */
 [data-direction = rtl] .search-icon{
   left: unset;
   right: 15px;
}
[data-direction = rtl] .input-style-search {
  direction: rtl;
}
[data-direction = rtl].button-style {
  flex-direction: row-reverse;
}
[data-direction = rtl] .label-style{
  text-align: right;
}
[data-direction = rtl] .input-style {
  direction: rtl;
}
[data-direction = rtl] .select-style{
  direction: rtl;
}
[data-direction = rtl] .modal_title {
   display: flex;
   flex-direction: row-reverse;
   gap: 3px;
   margin-right: auto;
}
[data-direction = rtl] .modal-header .btn-close {
   margin: unset;
}
[data-direction = rtl ] .modal_title_filter {
   margin-right: auto;
 }
 [data-direction = rtl] .button-style-filter {
   flex-direction: row-reverse;
}
 @media(max-width:576px) {
    .modal_content,
    .modal_content_delete {
      padding: 15px 8px;
   }
   .modal_body {
      padding-inline: 10px;
   }
   .filter-box {
      gap: 9px;
   }
   .modal_content_filterBy {
      padding: 15px 8px;
   }
 }
 @media(max-width:425px) {
   [data-direction = rtl] .box-title {
      gap: 6px;
   }
   [data-direction = rtl] .title {
      font-size: 14px;
   }
 }
 
 .colored-toast.swal2-icon-success {
   background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
   background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
   background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
   background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
   background-color: #87adbd !important;
}

.colored-toast .swal2-title {
   color: white;
}

.colored-toast .swal2-close {
   color: white;
}
/* .wajdiii .swal2-success-line-long{
   background-color: red !important;
} */
.colored-toast .swal2-html-container {
   color: white;
}
  .customize-table {
   --easy-table-border: 1px solid #E4E7EC;
   --easy-table-row-border: 1px solid #E4E7EC;
   --easy-table-header-font-size: 12px;
   --easy-table-header-height: 44px;
   --easy-table-header-font-color: #7B8190;
   --easy-table-header-background-color: rgba(66, 106, 179, 0.05);
   --easy-table-header-item-padding: 12px 24px;
   --easy-table-body-even-row-font-color: #fff;
   --easy-table-body-even-row-background-color: #0000;
   --easy-table-body-row-font-color: #3B424A;
   --easy-table-body-row-background-color: #fff;
   --easy-table-body-row-height: 50px;
   --easy-table-body-row-font-size: 14px;
   --easy-table-body-row-hover-font-color: #2d3a4f;
   --easy-table-body-row-hover-background-color: #fff;
   --easy-table-body-item-padding: 10px 15px;
   --easy-table-footer-background-color: #fff;
   --easy-table-footer-font-color: #3B424A;
   --easy-table-footer-font-size: 12px;
   --easy-table-footer-padding: 0px 10px;
   --easy-table-footer-height: 52px;
   --easy-table-rows-per-page-selector-width: 70px;
   --easy-table-rows-per-page-selector-option-padding: 5px;
   --easy-table-rows-per-page-selector-z-index: 1;
   --easy-table-scrollbar-track-color: #7b8190;
   --easy-table-scrollbar-color: #7b8190;
   --easy-table-scrollbar-thumb-color: var(--primary-color);
   --easy-table-loading-mask-background-color:	#fff;
   --easy-table-loading-mask-opacity:	0.5;
}
.button-style-alert{
   background-color: var(--primary-color)!important;
   color: white!important;
   border-radius: 30px!important;
   font-size: 14px!important;
   font-weight: 500!important;
   border: none!important;
   display: flex!important;
   justify-content: center!important;
   align-items: center!important;
   gap: 10px!important;
   padding: 12px 58px!important;
   text-wrap: nowrap!important;
}
.button-style-alert2{
   border-radius: 30px!important;
   font-size: 14px!important;
   font-weight: 500!important;
   border: none;
   display: flex!important;
   justify-content: center!important;
   align-items: center!important;
   gap: 10px!important;
   padding: 12px 58px!important;
   text-wrap: nowrap!important;
   background-color: white!important;
   color: var(--primary-color)!important;
   border: 1px solid var(--primary-color)!important;
}
.container_alert{
   padding: 32px 24px!important;
}
